# 의사결정트리
knn 예제와 동일한 예측을 의사결정트리 알고리즘으로 풀이 한다.

In [5]:
import pandas as pd
from sklearn import tree
from matplotlib import pyplot as plt

In [6]:
data = pd.read_csv('data/mydata.csv')
data.head()

   id  walk  view sex  payment country
0   1    17     5   M      176       C
1   2    12     5   M      194       C
2   3    32    12   F      384       C
3   4    25     9   F      329       C
4   5    23     8   F      290       C

In [7]:
# 더미 코딩
data['country'] = (data['country']=='C')
data.head(5)
# 이곳 까지 KNN과 동일

   id  walk  view sex  payment country
0   1    17     5   M      176    True
1   2    12     5   M      194    True
2   3    32    12   F      384    True
3   4    25     9   F      329    True
4   5    23     8   F      290    True

### 실습예제
상단의 고객데이터를 이용해 의사결정트리의 깊이를 3으로 정하고, train과 test의 데이터를 9:1로 설정하여 예측하여 report 표를 출력하시오.

In [8]:
feature_names = ['walk', 'view'] # walk와 view 두개의 column name을 feature_name에 저장
X = data[feature_names] # data 정제 후 X에 저장
y = data['country'] # country 관련 data만 y에 저장

# 학습용 데이터와 테스트용 데이터 작성
from sklearn.model_selection import train_test_split
# training data와 test data의 비율을 9:1로 지정
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=33)

clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=3) # 의사결정트리 생성(트리depth2)
clf = clf.fit(X_train, y_train) # 의사결정트리에 training data 학습

from sklearn import metrics
y_pred = clf.predict(X_test) # 학습된 의사결정트리를 이용해 출신국가 예측
print(metrics.classification_report(y_test, y_pred)) # 예측 결과 출력

             precision    recall  f1-score   support

      False       0.88      0.96      0.92        24
       True       0.96      0.88      0.92        26

avg / total       0.92      0.92      0.92        50