## Data Wrangling: Clean, Transform, Merge, Reshape

In [2]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

In [3]:
%matplotlib inline

## 데이터셋 결합 및 병합

### DB-스타일 데이터프레임 병합

In [4]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'],
                 'data2': range(3)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [5]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [6]:
pd.merge(df1, df2)
# 디폴트로 겹치는 컬럼이름을 기준으로 한다

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [7]:
pd.merge(df1, df2, on='key')
# 명시적으로 지정하는 것이 안전하다

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [8]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df4 = DataFrame({'rkey': ['a', 'b', 'd'],
                 'data2': range(3)})
pd.merge(df3, df4, left_on='lkey', right_on='rkey') #merge함수는 중복된 값을 기준으로 해서 병합한다

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [9]:
pd.merge(df4, df3, left_on='rkey', right_on='lkey') #merge함수는 중복된 값을 기준으로 해서 병합한다

   data2 rkey  data1 lkey
0      0    a      2    a
1      0    a      4    a
2      0    a      5    a
3      1    b      0    b
4      1    b      1    b
5      1    b      6    b

### 실습 예제 1
컬럼명이 나이, 이름 두 가지로 구성된 데이터프레임 df_ex1, df_ex2를 생성하고, 나이를 기준으로 merge하여 출력하여라.(단, 한 프레임 당 행의 수는 6개 이상)

In [10]:
df_ex1 = DataFrame({'name': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'ag3': range(7)})

In [11]:
df_ex2 = DataFrame({'name': ['a', 'b', 'd'],
                 'age': range(3)})

In [12]:
pd.merge(df_ex1, df_ex2, on='name')

   ag3 name  age
0    0    b    1
1    1    b    1
2    6    b    1
3    2    a    0
4    4    a    0
5    5    a    0

In [13]:
data = Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [14]:
#치환하는 함수 replace
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [10]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [15]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [16]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### 실습예제 2
0부터 10까지의 Series 자료구조를 만든 후 5 이상의 수를 Nan으로 replace하여라.

In [17]:
a = Series(range(11))
a
for i in a:
    if i >=5:
        a = a.replace(i, np.nan)
a

0     0.0
1     1.0
2     2.0
3     3.0
4     4.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
dtype: float64

In [18]:
se = Series(range(11))
for i in se:
    if i >= 5:
        se = se.replace(i, np.nan)
se

0     0.0
1     1.0
2     2.0
3     3.0
4     4.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
dtype: float64

### 이상치 필터링 및 검출

In [19]:
np.random.seed()
data = DataFrame(np.random.randn(1000, 4)) #(row, col)
data

            0         1         2         3
0    1.291922  0.793841  0.604602  1.259937
1    0.252012  0.310706  0.211441  1.383343
2    0.130544  0.920621 -0.296376 -0.776104
3   -1.102923 -0.023149 -1.434832  1.352448
4   -0.004134  1.561814 -0.486476  0.912792
5    0.183907  0.123978 -0.778762  0.144082
6   -0.157361  0.423752  1.253219  0.837937
7   -1.174373 -1.136332 -0.482916 -0.109644
8    0.050431 -1.228553  0.510349  0.746816
9   -0.847861  0.828586  0.179533 -0.271776
10  -0.925493 -1.362230 -1.719409 -1.165556
11   0.696930  0.707910  0.661413 -0.481761
12   0.201028  2.085065  1.407758 -1.556260
13   0.204863 -1.899249  0.917202  0.604394
14  -0.562916  0.852678 -0.386798 -0.582425
15  -0.605796 -0.962138  0.203949 -0.098397
16   1.351267 -0.656827  1.832490 -0.665451
17   0.782246 -1.466916  0.020109  0.123838
18   0.115612 -0.263649 -0.090870 -0.553609
19   1.512239  0.089234 -0.265632 -1.151025
20  -0.701782 -0.052340  1.471139 -0.066714
21   1.281218  1.014622 -2.075224  0.415320
22  -0.957445 -0.085527  0.904574 -0.904694
23   0.184950  0.080644 -0.424187  0.506915
24  -0.241674  0.632520  0.919860 -0.325266
25  -0.170927 -1.114417  0.517122 -0.203120
26  -0.160878 -0.989989 -0.025128  0.041790
27  -0.398655 -1.115615 -0.240942 -0.850266
28   0.050691  1.143766  1.338409 -1.081757
29  -0.010150 -0.705924 -0.107527 -0.102693
30  -1.380784  1.348849 -0.281442  0.325229
31  -0.240480  1.045272  0.186119  0.477751
32  -0.313074 -0.205421  0.221988  2.348105
33   1.143203 -0.622042 -0.636240 -0.219996
34   0.037712 -0.028262 -1.177240 -2.365956
35  -0.599127 -0.038229 -1.047691 -1.057799
36   0.989830  2.915427  0.488268 -1.960559
37  -0.120051  0.089811 -1.107726 -2.418230
38  -0.313972 -0.808521  0.250788 -1.068150
39   0.068934 -0.354965  2.104578  0.380929
40  -1.303191 -0.621998  1.538292 -0.001681
41   0.342384 -0.551361  0.987101  0.844447
42   1.336496 -2.627792  1.061500 -1.804431
43   0.909355 -0.213022 -0.208107  1.859728
44  -0.650000  1.245494 -1.855366  0.243725
45   0.675082 -0.597790  0.461760 -1.118485
46  -0.454805  0.843387 -0.393445  2.007301
47   0.402299 -0.788716 -0.869769  1.083958
48  -1.130933  1.714586 -0.159088 -2.036855
49  -0.168738 -0.406443  0.280376  0.638453
..        ...       ...       ...       ...
950 -0.715886 -1.276461 -1.071447 -0.521512
951  0.031621 -2.067726 -0.232344  0.653382
952 -1.399531 -0.110206 -0.997101  1.341745
953 -0.186862  0.245088  0.359426  0.243289
954  0.579343  0.832202  1.323425  0.150358
955 -2.171567  0.795469  0.682481  0.061381
956 -1.391458 -0.835306  0.545091  2.856868
957 -0.546287  0.012693 -1.163587  0.380058
958 -0.092186 -0.687183 -0.851467 -0.000633
959 -0.104843 -0.176625  0.037299 -1.701820
960 -0.655293 -2.097091 -1.272834 -1.690975
961  0.949545  0.207195 -1.175317  0.950620
962  1.706921 -0.205684  0.802347  0.203536
963 -0.404007  0.954302  1.457562  0.624722
964  0.482071 -1.784579  0.952310 -0.120074
965 -0.301600 -0.740770 -0.890220  0.285435
966  1.112942 -0.302030  0.504511 -1.540744
967 -0.981123 -0.488646  0.216868  0.457727
968 -0.034554  0.197195 -0.637784 -1.408667
969  0.107795 -0.315534  1.743821 -0.627893
970 -0.685375  1.366997  0.885500  0.773014
971  1.428661 -1.771237  0.412843  0.919798
972  0.896676 -1.809594 -0.435135  0.234841
973 -0.068927 -0.523636  0.892206  1.699915
974  0.433602 -1.102336 -0.218955  0.096214
975 -0.057133 -1.299742 -1.379967 -0.094391
976  1.818949 -0.865257  0.025726 -0.138297
977 -0.617233 -0.310834 -1.346559 -0.651326
978 -0.129261 -0.810502  0.040992 -0.228835
979  0.279705 -1.320359 -0.722303 -1.018147
980 -1.974691 -0.335289 -0.922843  0.199537
981  0.211930 -3.088905 -1.434678  0.690600
982  1.141154  0.216967  0.831425  0.212896
983 -0.329519 -0.210736  0.690801 -0.552553
984 -1.843969  2.860308  0.337049  0.300006
985 -0.241860 -0.611446 -1.085110 -0.081655
986 -0.874225 -2.142173 -0.906435  0.670065
987 -0.592061 -0.603235 -0.812793  0.977523
988  1.163330 -0.997434  0.212337 -0.489281
989 -0.570268 -0.485053 -0.046372  1.283254
990 -2.127108  0.141530 -0.190777 -0.198957
991 -1.477341  1.022776 -0.415399 -0.141502
992  1.652368 -0.581992  1.006024 -1.183544
993  1.335877  1.040659 -1.299828 -1.006039
994 -0.776092 -0.995380  0.069558  0.621908
995 -0.409642  0.761044 -0.197762  0.038813
996 -2.656874 -0.334376 -0.594086  1.491727
997 -0.794760  0.178220 -0.917421  0.337094
998 -0.187476 -0.619862  0.359794 -1.431787
999  0.523405  0.046886  0.681087  0.094419

[1000 rows x 4 columns]

In [20]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.028098    -0.061430     0.001573    -0.028143
std       1.003055     0.988331     1.002936     0.983721
min      -3.312677    -4.228997    -3.206421    -4.010758
25%      -0.638954    -0.728534    -0.682096    -0.666608
50%       0.011222    -0.057375    -0.005125    -0.035729
75%       0.739440     0.599120     0.662499     0.635965
max       3.780899     2.915427     3.165153     3.197240

In [21]:
col = data[3]

In [22]:
col[np.abs(col) > 3] #절대값을 구하는 함수 abs()

140   -4.010758
312    3.050241
673   -3.001982
853    3.197240
Name: 3, dtype: float64

In [23]:
data[(np.abs(data) > 3).any(1)] #데이터프레임의 행의 1개 이상의 원소에 절대값을 씌웠을 때 3보다 큰 값이 포함된 행이 있으면 그 행을 출력.

            0         1         2         3
68  -3.312677 -0.479027 -0.356450  0.127019
140  1.808982 -0.871143  0.540171 -4.010758
231  3.085370 -0.704910  0.880059 -0.049124
300  3.780899  0.436385 -1.463147  0.988522
312 -1.414525  0.643525 -0.951308  3.050241
410  0.570582 -4.228997 -0.557842  1.314426
454  2.376614 -3.153635 -0.612053 -0.602248
561 -0.402267  1.738268  3.165153 -0.624122
673 -0.000156  1.270047 -0.091181 -3.001982
747  0.189626  0.844238 -3.206421  0.694828
748  0.110387 -3.824453  0.335327  0.830353
853 -1.529222  0.120941  0.221357  3.197240
981  0.211930 -3.088905 -1.434678  0.690600

In [24]:
data[np.abs(data) > 3] = np.sign(data) * 3 #절대값을 취한 것이 3보다 큰 값을 가진 데이터프레임 data에 sign함수를 취함

In [25]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.027545    -0.059134     0.001614    -0.027378
std       0.999177     0.980338     1.001788     0.979345
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.638954    -0.728534    -0.682096    -0.666608
50%       0.011222    -0.057375    -0.005125    -0.035729
75%       0.739440     0.599120     0.662499     0.635965
max       3.000000     2.915427     3.000000     3.000000

### 실습예제 3
위의 방법을 응용해 100행 5열의 난수로 구성된 데이터프레임을 생성하고 2번 열의 데이터가 음수인 것만 출력하여라.

In [26]:
np.random.seed(1)
data_ex1 = DataFrame(np.random.randn(100, 5)) #(row, col)
data_ex1
col = data_ex1[2]
col[col < 0] #절대값을 구하는 함수 abs()

0    -0.528172
1    -0.761207
2    -0.322417
3    -0.877858
5    -0.935769
6    -0.687173
8    -0.747158
10   -1.142518
18   -0.375285
21   -0.953701
23   -1.615772
26   -1.230058
27   -1.144341
31   -0.119054
35   -0.287308
40   -0.562305
41   -0.890556
43   -0.434957
45   -0.198838
47   -0.665755
48   -0.001891
49   -0.443172
50   -2.793085
60   -0.830172
61   -0.694694
63   -0.051188
66   -0.997020
67   -1.942589
68   -0.442229
69   -0.174180
70   -0.195057
71   -0.190221
72   -1.943323
73   -2.782534
75   -0.785534
76   -1.538793
77   -0.175459
78   -0.475373
81   -0.830169
84   -0.374805
88   -1.160170
94   -0.198998
95   -1.402329
96   -0.767310
98   -0.414847
99   -2.237087
Name: 2, dtype: float64

In [56]:
data[data < 3]

            0         1         2         3
0    1.624345 -0.611756 -0.528172 -1.072969
1    0.865408 -2.301539  1.744812 -0.761207
2    0.319039 -0.249370  1.462108 -2.060141
3   -0.322417 -0.384054  1.133769 -1.099891
4   -0.172428 -0.877858  0.042214  0.582815
5   -1.100619  1.144724  0.901591  0.502494
6    0.900856 -0.683728 -0.122890 -0.935769
7   -0.267888  0.530355 -0.691661 -0.396754
8   -0.687173 -0.845206 -0.671246 -0.012665
9   -1.117310  0.234416  1.659802  0.742044
10  -0.191836 -0.887629 -0.747158  1.692455
11   0.050808 -0.636996  0.190915  2.100255
12   0.120159  0.617203  0.300170 -0.352250
13  -1.142518 -0.349343 -0.208894  0.586623
14   0.838983  0.931102  0.285587  0.885141
15  -0.754398  1.252868  0.512930 -0.298093
16   0.488518 -0.075572  1.131629  1.519817
17   2.185575 -1.396496 -1.444114 -0.504466
18   0.160037  0.876169  0.315635 -2.022201
19  -0.306204  0.827975  0.230095  0.762011
20  -0.222328 -0.200758  0.186561  0.410052
21   0.198300  0.119009 -0.670662  0.377564
22   0.121821  1.129484  1.198918  0.185156
23  -0.375285 -0.638730  0.423494  0.077340
24  -0.343854  0.043597 -0.620001  0.698032
25  -0.447129  1.224508  0.403492  0.593579
26  -1.094912  0.169382  0.740556 -0.953701
27  -0.266219  0.032615 -1.373117  0.315159
28   0.846161 -0.859516  0.350546 -1.312283
29  -0.038696 -1.615772  1.121418  0.408901
30  -0.024617 -0.775162  1.273756  1.967102
31  -1.857982  1.236164  1.627651  0.338012
32  -1.199268  0.863345 -0.180920 -0.603921
33  -1.230058  0.550537  0.792807 -0.623531
34   0.520576 -1.144341  0.801861  0.046567
35  -0.186570 -0.101746  0.868886  0.750412
36   0.529465  0.137701  0.077821  0.618380
37   0.232495  0.682551 -0.310117 -2.434838
38   1.038825  2.186980  0.441364 -0.100155
39  -0.136445 -0.119054  0.017409 -1.122019
40  -0.517094 -0.997027  0.248799 -0.296641
41   0.495211 -0.174703  0.986335  0.213534
42   2.190700 -1.896361 -0.646917  0.901487
43   2.528326 -0.248635  0.043669 -0.226314
44   1.331457 -0.287308  0.680070 -0.319802
45  -1.272559  0.313548  0.503185  1.293226
46  -0.110447 -0.617362  0.562761  0.240737
47   0.280665 -0.073113  1.160339  0.369493
48   1.904659  1.111057  0.659050 -1.627438
49   0.602319  0.420282  0.810952  1.044442
..        ...       ...       ...       ...
950  0.287434 -0.762185  1.070726 -1.376652
951  1.451720 -0.108010 -0.692175 -1.146575
952  0.567931  0.423871  0.739115 -0.107993
953 -0.584282  0.103165 -1.216825 -0.168903
954 -0.839116  1.279857  0.464322 -0.404769
955 -0.518453  1.053783 -0.635143 -0.139311
956  0.564172 -0.767909  1.263359  0.258468
957  1.580018  0.006784  2.787361  0.406133
958  0.187248 -1.330030  0.260543 -1.385539
959 -0.288421 -0.329360  0.893680 -0.309073
960 -0.280095 -0.786836 -0.366938 -0.558773
961  1.813975 -0.857215 -1.150420 -0.623578
962  1.088111 -1.939764  1.392367 -0.930314
963 -0.993981 -1.329708  0.447175 -0.696128
964  0.158319  0.012705 -2.415888 -0.091101
965  0.379855 -1.287548 -1.343059 -0.093361
966  1.559346  1.430590  1.710530 -0.872323
967  0.554015 -0.539199  0.691636 -0.092337
968 -1.854060  0.568734 -2.077860  2.347616
969  2.706125 -0.651362 -0.049709  0.079790
970  0.367923  0.591734 -1.653670 -1.030446
971  0.840861  0.450026 -0.659839 -1.323923
972  0.363847 -0.419085  0.984352  1.065591
973  0.701654  0.320101  0.288878  0.882598
974 -0.729965 -1.591216  0.595189  0.273334
975  0.298112 -0.132637 -2.251077  2.893593
976  2.742155 -0.510218  0.833351  0.088922
977  0.253389  0.343292  1.073503 -0.669049
978  0.715354  0.707662 -2.548717  1.468340
979  0.657419 -0.582217  0.047880  0.512468
980 -0.284319  0.525410 -2.050876  0.211909
981  1.110508  0.751354  0.217867 -0.780517
982  0.070358 -1.186303  0.120607 -0.174415
983  0.499442  1.388842  0.850542 -0.831536
984 -0.967498 -0.865728 -0.870450 -1.038534
985  1.991515  1.299629 -0.592073  0.049659
986  2.478005 -1.778695  0.395753  2.003272
987  0.148823 -0.551342  1.269868  2.260748
988 -0.182916  1.193456 -0.959332  0.263967
989  0.639034 -0.451651 -0.529731  0.632917
990  0.874996 -1.049369 -0.607352  0.418138
991 -1.541780 -1.025194  0.325975  0.805144
992  0.273739 -0.075940  1.682478  0.202187
993 -0.527962 -2.071264  0.526165 -0.450283
994 -0.348754 -0.105619 -0.861735  0.473136
995 -0.138881  2.652140 -0.656247  0.279562
996 -0.607715  0.729814 -0.887188  0.077327
997  0.073416  0.416026 -1.879200  0.575459
998  0.102062  1.184304 -0.794843 -0.125903
999 -0.960346 -0.843913  0.628342  0.537214

[1000 rows x 4 columns]

### 순열 및 랜덤 샘플링

In [17]:
df = DataFrame(np.arange(5 * 4).reshape(5, 4))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [18]:
len(df)

5

In [19]:
# 행의 위치를 랜덤하게 바꾸려고 한다
sampler = np.random.permutation(5)
sampler

array([1, 2, 4, 0, 3])

In [20]:
# 행을 선택할 때 take를 사용한다
df.take(sampler)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
0   0   1   2   3
3  12  13  14  15

In [21]:
# 임의의 3개의 행만 추출하는 방법
df.take(np.random.permutation(len(df))[:3])

    0   1   2   3
0   0   1   2   3
4  16  17  18  19
1   4   5   6   7

In [22]:
# 15개의 정수 난수를 만들고 이 위치에 해당하는 데이터를 샘플링하는 방법
# bag에서 임의의 갯수를 추출하는 방법
bag = np.array([5, 7, -1, 6, 4])
sampler = np.random.randint(0, len(bag), size=15)

In [23]:
sampler

array([0, 0, 2, 3, 1, 2, 3, 4, 0, 0, 1, 4, 3, 1, 4])

In [24]:
draws = bag.take(sampler)
draws

array([ 5,  5, -1,  6,  7, -1,  6,  4,  5,  5,  7,  4,  6,  7,  4])

### 지표(key) 계산 및 쓰레기(더미)값

In [57]:
# 더미 변수를 만드는 방법
df = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [61]:
pd.get_dummies(df['key']) # 더미값을 얻어오는 함수 get_dummies

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [60]:
pd.get_dummies(df['data1'])

   0  1  2  3  4  5
0  1  0  0  0  0  0
1  0  1  0  0  0  0
2  0  0  1  0  0  0
3  0  0  0  1  0  0
4  0  0  0  0  1  0
5  0  0  0  0  0  1

In [27]:
# 두개의 데이터프레임을 합치려면 join을 사용한다

dummies = pd.get_dummies(df['key'], prefix='asd')
dummies

NameError: name 'df' is not defined

In [67]:
df_with_dummy = dummies.join(df['data1'])
df_with_dummy

   key_a  key_b  key_c  data1
0      0      1      0      0
1      0      1      0      1
2      1      0      0      2
3      0      0      1      3
4      1      0      0      4
5      0      1      0      5

### 실습예제 4
생성된 위의 df_with_dummy 데이터프레임의 행의 위치를 랜덤하게 바꿔 출력하여라.

In [68]:
sampler = np.random.permutation(len(df_with_dummy))
df_with_dummy.take(sampler)

   key_a  key_b  key_c  data1
0      0      1      0      0
1      0      1      0      1
2      1      0      0      2
5      0      1      0      5
3      0      0      1      3
4      1      0      0      4

In [28]:
#개봉년도, 영화제목, 장르의 정보를 가진 20세기 영화 데이터
# 세개의 컬럼만 읽는다
mnames = ['movie_id', 'title', 'genres']

In [35]:
movies = pd.read_table('data/movies.dat', sep='::', header=None, names=mnames) 
movies[:10]

C:\Users\samsung\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [82]:
genre_iter = (set(x.split('|')) for x in movies.genres)
print(genre_iter)

<generator object <genexpr> at 0x00000045D268F410>

In [29]:
# 쟝르에서 유일한 값만 찾는다 set.union 사용
genres = sorted(set.union(*genre_iter))
print(genres)

<generator object <genexpr> at 0x000002242C34D620>
['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [30]:
dummies = DataFrame(np.zeros((len(movies), len(genres))), columns=genres)
# 0으로 초기화 한 데이터프레임

In [31]:
# 해당 쟝르가 있는 부분만 1로 표시한다
for i, gen in enumerate(movies.genres):
    dummies.ix[i, gen.split('|')] = 1
dummies[:10]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [32]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
#더미값으로 해당하는 장르에 0과 1로 표현
movies_windic.ix[0:10]

,movie_id,title,genres,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Crime,Genre_Documentary,...,Genre_Fantasy,Genre_Film-Noir,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Heat (1995),Action|Crime|Thriller,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,7,Sabrina (1995),Comedy|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,8,Tom and Huck (1995),Adventure|Children's,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,Sudden Death (1995),Action,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,GoldenEye (1995),Action|Adventure|Thriller,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,11,"American President, The (1995)",Comedy|Drama|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [33]:
np.random.seed(12345)

In [34]:
values = np.random.rand(10)
values

array([ 0.9296,  0.3164,  0.1839,  0.2046,  0.5677,  0.5955,  0.9645,
        0.6532,  0.7489,  0.6536])

In [35]:
# 데이터가 어느 범주에 속하는지 간단히 찾을 수 있다
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1]
0         0           0           0           0         1
1         0           1           0           0         0
2         1           0           0           0         0
3         0           1           0           0         0
4         0           0           1           0         0
5         0           0           1           0         0
6         0           0           0           0         1
7         0           0           0           1         0
8         0           0           0           1         0
9         0           0           0           1         0

### 실습예제 5
0~100 사이의 난수 10개를 생성하고 데이터가 10 단위의 범주 중 어느 범주에 속하는지를 구하여라

In [84]:
val = np.random.rand(10) * 100
ff = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
pd.get_dummies(pd.cut(val, ff))

,"(0, 10]","(10, 20]","(20, 30]","(30, 40]","(40, 50]","(50, 60]","(60, 70]","(70, 80]","(80, 90]","(90, 100]"
0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,1,0,0
7,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,0,0,0,1

## 문자열 조작

### 문자열 메소드

In [37]:
# 파이선은 문자 열을 다루는데 매우 편리하다
# 문자열 구분하기

val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [86]:
# 공백 부분을 없애려면 strip을 사용한다
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [87]:
first, second, third = pieces
print(first)
first + '::' + second + '::' + third

a

'a::b::guido'

In [88]:
# 더 효과적인 방법
'::'.join(pieces)

'a::b::guido'

In [89]:
# 단어가 포함되어 있는지를 알려준다
'guido' in val

True

In [90]:
# 앞에서부터의 위치를 찾아준다
val.index(',')

1

In [91]:
val.index('b')

2

In [92]:
val.index('guido')

6

In [93]:
val.index('NO')
# 없는 단어는 에러가 난다

ValueError: substring not found

In [94]:
val.find('NO')
# 단어가 없으면 오류가 아니라 '-1' 를 리턴한다

-1

In [95]:
# 발생 횟수를 알려준다
val.count(',')

2

In [96]:
val.replace(',', '::')

'a::b::  guido'

In [97]:
val.replace(',', '')

'ab  guido'

### 실습예제 6
위의 val문자열의 , 개수와 문자열의 길이를 합한 값을 출력하시오.

In [99]:
val

'a,b,  guido'

In [98]:
len(val) + val.count(',')

13

### 실습예제 7
위의 val문자열의 '  '(공백)을 찾고 몇 번째 index에 위치해 있는지 나타내시오.

In [101]:
# 앞에서부터의 위치를 찾아준다
val.index(' ')

4

### 정규식

In [104]:
# 정규표현식, 텍스트에서 문자열을 찾는 도구
# regex
# 패턴 매칭, 치환, 분리 기능 등을 제공한다
# 문자열을 분리하는 예로 하나 이상의 스페이스를 의미하는 '\s+'를 사용한다
import re
text = "foo    bar\t baz  \tqux"
re.split(',', text)

['foo    bar\t baz  \tqux']

In [105]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [106]:
# 정규표현식을 컴파일하고 이 객체를 이용하는 방법도 있다
# 반복적으로 사용될 때 편리하고 속도도 빠르다
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [107]:
text

'foo    bar\t baz  \tqux'

In [51]:
regex.findall(text)

['    ', '\t ', '  \t']

In [109]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}' #해당 부분에 맞게 정규식 변수 pattern을 지정

# re.IGNORECASE는 대소문자 구분을 없애준다.
regex = re.compile(pattern, flags=re.IGNORECASE)

In [110]:
# 문자열에서 이 표현식과 일치하는 모든 부분을 찾는다
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

### 실습예제 8
위의 text에서 이메일이 아닌 단어 단위를 찾아 출력하여라.

In [131]:
pattern2 = '[A-Z]{1,10}'
#[대문자가 포함된 모든 문자열]{1개 이상의 개수 반복}
regex2 = regex = re.compile(pattern2, flags=re.IGNORECASE)
regex2.findall(text)

['Dave',
 'dave',
 'google',
 'com',
 'Steve',
 'steve',
 'gmail',
 'com',
 'Rob',
 'rob',
 'gmail',
 'com',
 'Ryan',
 'ryan',
 'yahoo',
 'com']

In [132]:
# sesrch는 만족하는 첫번째 항목만 찾아준다
m = regex.search(text)
print(m)

<_sre.SRE_Match object; span=(0, 4), match='Dave'>

In [133]:
text[m.start():m.end()] #첫번째 항목의 시작지점부터 끝까지를 보여준다

'Dave'

In [134]:
#** match **
#주어진 문자열의 첫글자부터 일치하는 패턴 문자열을 반환 (결과값은 1개)
print(regex.match(text))

<_sre.SRE_Match object; span=(0, 4), match='Dave'>

In [135]:
# 해당하는 패턴을 주어진 문자열로 치환한다
print(regex.sub('REDACTED', text))

REDACTED REDACTED@REDACTED.REDACTED
REDACTED REDACTED@REDACTED.REDACTED
REDACTED REDACTED@REDACTED.REDACTED
REDACTED REDACTED@REDACTED.REDACTED

### 실습예제 9
예제 8에서 찿은 단어들을 'python'으로 치환하여라.

In [136]:
print(regex2.sub('python', text))

python python@python.python
python python@python.python
python python@python.python
python python@python.python

In [41]:
# 패턴을 나누려면, 나눌 각 패턴을 ( )로 묶는다
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

NameError: name 're' is not defined

In [156]:
m = regex.match('wesm@bright.net')
print(m)
m.groups() #m을 정규식 패턴에 맞게 나누어 그룹화하는 함수

<_sre.SRE_Match object; span=(0, 15), match='wesm@bright.net'>

('wesm', 'bright', 'net')

In [157]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [158]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text)) #sub함수를 이용해 정규식의 각 부분에 제목(subject)을 명명할 수 있다.

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

In [159]:
# 매치 그룹에 이름을 줄 수 있다
regex = re.compile(r"""
    (?P<username>[A-Z0-9._%+-]+)
    @
    (?P<domain>[A-Z0-9.-]+)
    \.
    (?P<suffix>[A-Z]{2,4})""", flags=re.IGNORECASE|re.VERBOSE)

In [160]:
m = regex.match('wesm@bright.net')
m.groupdict() #사전형태로 그룹화한다.

{'domain': 'bright', 'suffix': 'net', 'username': 'wesm'}

### pandas의 벡터화된 문자열 함수

In [161]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = Series(data)

In [162]:
data.isnull() #값이 비어있는지 확인하는 isnull()함수

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

### 실습예제10
data의 isnull()함수를 호출한 값에 True가 없도록 하는 data2를 만들고 다시 isnull()함수를 호출하여라.

In [38]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': 'Wes@naver.com'}
data = Series(data)
data.isnull()

Dave     False
Rob      False
Steve    False
Wes      False
dtype: bool

In [39]:
data.str.contains('gmail') #문자열에 'gmail'을 포함하고있는지 판별한다.

Dave     False
Rob       True
Steve     True
Wes      False
dtype: bool

In [40]:
pattern

NameError: name 'pattern' is not defined

In [166]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Rob        [(rob, gmail, com)]
Steve    [(steve, gmail, com)]
Wes        [(Wes, naver, com)]
dtype: object

In [170]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Rob      True
Steve    True
Wes      True
dtype: bool

In [171]:
type(matches)

pandas.core.series.Series

In [168]:
matches.str.get(1) #get(index)로 해당 위치의 내용을 불러옴

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [153]:
matches.str[0] #str[index]로도 내용을 불러올 수 있음

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [72]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object

## Example: 미국 농무부 음식 데이터

#데이터 정보
{
  "id": 21441,
  "description": "KENTUCKY FRIED CHICKEN, Fried Chicken, EXTRA CRISPY,
Wing, meat and skin with breading",
  "tags": ["KFC"],
  "manufacturer": "Kentucky Fried Chicken",
  "group": "Fast Foods",
  "portions": [
    {
      "amount": 1,
      "unit": "wing, with skin",
      "grams": 68.0
    },

    ...
  ],
  "nutrients": [
    {
      "value": 20.8,
      "units": "g",
      "description": "Protein",
      "group": "Composition"
    },

    ...
  ]
}

In [42]:
import json
db = json.load(open('data/foods-2011-10-03.json'))
len(db)

FileNotFoundError: [Errno 2] No such file or directory: 'data/foods-2011-10-03.json'

In [43]:
# 각 항목에는 각 음식에 대한 정보를 담는다
db[0].keys()

NameError: name 'db' is not defined

In [75]:
db[0]['nutrients'][0]

{'description': 'Protein',
 'group': 'Composition',
 'units': 'g',
 'value': 25.18}

### 실습예제11
위의 첫 번째 항목의 영양소를 표시한 것 처럼, 식품의 양(portions)을 출력하여라.

In [76]:
nutrients = DataFrame(db[0]['nutrients'])
nutrients[:7]

                   description        group units    value
0                      Protein  Composition     g    25.18
1            Total lipid (fat)  Composition     g    29.20
2  Carbohydrate, by difference  Composition     g     3.06
3                          Ash        Other     g     3.28
4                       Energy       Energy  kcal   376.00
5                        Water  Composition     g    39.28
6                       Energy       Energy    kJ  1573.00

In [77]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = DataFrame(db, columns=info_keys)

In [78]:
info[:5]

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [79]:
info

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,
5,"Cheese, mozzarella, part skim milk, low moisture",Dairy and Egg Products,1029,
6,"Cheese, romano",Dairy and Egg Products,1038,
7,"Cheese, roquefort",Dairy and Egg Products,1039,
8,"Cheese spread, pasteurized process, american, ...",Dairy and Egg Products,1048,
9,"Cream, fluid, half and half",Dairy and Egg Products,1049,
10,"Sour dressing, non-butterfat, cultured, filled...",Dairy and Egg Products,1058,
11,"Milk, filled, fluid, with blend of hydrogenate...",Dairy and Egg Products,1059,
12,"Cream substitute, liquid, with lauric acid oil...",Dairy and Egg Products,1068,
13,"Cream substitute, powdered",Dairy and Egg Products,1069,
14,"Milk, producer, fluid, 3.7% milkfat",Dairy and Egg Products,1078,
15,"Milk, reduced fat, fluid, 2% milkfat, with add...",Dairy and Egg Products,1079,None
16,"Milk, reduced fat, fluid, 2% milkfat, with add...",Dairy and Egg Products,1080,
17,"Milk, reduced fat, fluid, 2% milkfat, protein ...",Dairy and Egg Products,1081,
18,"Milk, lowfat, fluid, 1% milkfat, with added vi...",Dairy and Egg Products,1082,
19,"Milk, lowfat, fluid, 1% milkfat, with added no...",Dairy and Egg Products,1083,
20,"Milk, lowfat, fluid, 1% milkfat, protein forti...",Dairy and Egg Products,1084,
21,"Milk, nonfat, fluid, with added vitamin A and ...",Dairy and Egg Products,1085,
22,"Milk, nonfat, fluid, with added nonfat milk so...",Dairy and Egg Products,1086,
23,"Milk, nonfat, fluid, protein fortified, with a...",Dairy and Egg Products,1087,
24,"Milk, buttermilk, fluid, cultured, lowfat",Dairy and Egg Products,1088,
25,"Milk, low sodium, fluid",Dairy and Egg Products,1089,
26,"Milk, dry, whole, with added vitamin D",Dairy and Egg Products,1090,
27,"Milk, dry, nonfat, regular, without added vita...",Dairy and Egg Products,1091,
28,"Milk, dry, nonfat, instant, with added vitamin...",Dairy and Egg Products,1092,
29,"Milk, dry, nonfat, calcium reduced",Dairy and Egg Products,1093,
30,"Milk, buttermilk, dried",Dairy and Egg Products,1094,
31,"Milk, canned, condensed, sweetened",Dairy and Egg Products,1095,
32,"Milk, canned, evaporated, with added vitamin D...",Dairy and Egg Products,1096,
33,"Milk, canned, evaporated, nonfat, with added v...",Dairy and Egg Products,1097,
34,"Milk, indian buffalo, fluid",Dairy and Egg Products,1108,
35,"Milk, sheep, fluid",Dairy and Egg Products,1109,
36,"Yogurt, plain, skim milk, 13 grams protein per...",Dairy and Egg Products,1118,
37,"Yogurt, vanilla, low fat, 11 grams protein per...",Dairy and Egg Products,1119,
38,"Egg, whole, cooked, fried",Dairy and Egg Products,1128,
39,"Egg, whole, cooked, hard-boiled",Dairy and Egg Products,1129,
40,"Egg, duck, whole, fresh, raw",Dairy and Egg Products,1138,
41,"Egg, goose, whole, fresh, raw",Dairy and Egg Products,1139,
42,"Cheese, pasteurized process, swiss, without di...",Dairy and Egg Products,1148,
43,"Cheese food, pasteurized process, american, wi...",Dairy and Egg Products,1149,
44,"Cheese, goat, soft type",Dairy and Egg Products,1159,
45,"Cheese, low fat, cheddar or colby",Dairy and Egg Products,1168,
46,"Cheese, low-sodium, cheddar or colby",Dairy and Egg Products,1169,
47,"Sour cream, reduced fat",Dairy and Egg Products,1178,None
48,"Sour cream, light",Dairy and Egg Products,1179,None
49,"Sour cream, fat free",Dairy and Egg Products,1180,None
...,...,...,...,...
6586,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23587,
6587,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23588,
6588,"Beef, short loin, top loin, steak, separable l...",Beef Products,23589,
6589,"Beef, round, bottom round , roast, separable l...",Beef Products,23590,
6590,"Beef, round, eye of round, roast, separable le...",Beef Products,23591,
6591,"Beef, round, top round, steak, separable lean ...",Beef Products,23592,
6592,"Beef, round, bottom round, steak, separable le...",Beef Products,23593,
6593,"Beef, short loin, top loin, steak, separable l...",Beef Products,23606,
6594,"Beef, brisket, flat half, separable lean only,...",Beef Products,23613,
6595,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23614,
6596,"Beef, brisket, flat half, separable lean only,...",Beef Products,23615,
6597,"Beef, round, eye of round, roast, separable le...",Beef Products,23616,
6598,"Beef, round, top round, steak, separable lean ...",Beef Products,23617,
6599,"Beef, round, eye of round, roast, separable le...",Beef Products,23620,
6600,"Beef, round, top round, steak, separable lean ...",Beef Products,23621,
6601,"Beef, round, bottom round, steak, separable le...",Beef Products,23622,
6602,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23624,
6603,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23625,
6604,"Beef, rib, small end (ribs 10-12), separable l...",Beef Products,23626,
6605,"Beef, short loin, top loin, steak, separable l...",Beef Products,23627,
6606,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23628,
6607,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23629,
6608,"Beef, short loin, top loin, steak, separable l...",Beef Products,23630,
6609,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23631,
6610,"Beef, brisket, flat half, separable lean only,...",Beef Products,23632,
6611,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23633,
6612,"Beef, brisket, flat half, separable lean only,...",Beef Products,23634,
6613,"Beef, round, eye of round, roast, separable le...",Beef Products,23635,
6614,"Beef, round, top round, steak, separable lean ...",Beef Products,23636,
6615,"Beef, round, bottom round, roast, separable le...",Beef Products,23637,
6616,"Beef, rib, small end (ribs 10-12), separable l...",Beef Products,23638,
6617,"CAMPBELL Soup Company, CAMPBELL'S Red and Whit...","Soups, Sauces, and Gravies",27015,Campbell Soup Co.
6618,"CAMPBELL Soup Company, CAMPBELL's Red and Whit...","Soups, Sauces, and Gravies",27016,Campbell Soup Co.
6619,"CAMPBELL Soup Company, CAMPBELL'S SELECT Soups...","Soups, Sauces, and Gravies",27021,Campbell Soup Co.
6620,"CAMPBELL Soup Company, CAMPBELL'S SOUP AT HAND...","Soups, Sauces, and Gravies",27022,Campbell Soup Co.
6621,"CAMPBELL Soup Company, CAMPBELL'S SOUP AT HAND...","Soups, Sauces, and Gravies",27023,Campbell Soup Co.
6622,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27024,Campbell Soup Co.
6623,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27025,Campbell Soup Co.
6624,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27026,Campbell Soup Co.
6625,"CAMPBELL Soup Company, CAMPBELL'S Red and Whit...","Soups, Sauces, and Gravies",27032,Campbell Soup Co.
6626,"CAMPBELL Soup Company, V8 Vegetable Juice, Ess...",Vegetables and Vegetable Products,31010,Campbell Soup Co.
6627,"CAMPBELL Soup Company, V8 Vegetable Juice, Spi...",Vegetables and Vegetable Products,31013,Campbell Soup Co.
6628,"CAMPBELL Soup Company, PACE, Jalapenos Nacho S...",Vegetables and Vegetable Products,31014,Campbell Soup Co.
6629,"CAMPBELL Soup Company, V8 60% Vegetable Juice,...",Vegetables and Vegetable Products,31016,Campbell Soup Co.
6630,"CAMPBELL Soup Company, V8 Vegetable Juice, Low...",Vegetables and Vegetable Products,31017,Campbell Soup Co.
6631,"Bologna, beef, low fat",Sausages and Luncheon Meats,42161,
6632,"Turkey and pork sausage, fresh, bulk, patty or...",Sausages and Luncheon Meats,42173,
6633,"Babyfood, juice, pear",Baby Foods,43408,None
6634,"Babyfood, dessert, banana yogurt, strained",Baby Foods,43539,None
6635,"Babyfood, banana no tapioca, strained",Baby Foods,43546,None

In [80]:
# 음식 그룹의 분포를 찾는다
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Fast Foods                           365
Legumes and Legume Products          365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Name: group, dtype: int64

### 실습예제 12
영양소 자료구조의 그룹의 분포 출력하여라.

In [81]:
''' 
영양소 정보를 분석
'''
nutrients = []

for rec in db: #data cleaning을 위해 영양소 리스트의 id를 같은 음식별로 묶는 함수 rec
    fnuts = DataFrame(rec['nutrients'])
    fnuts['id'] = rec['id']
    nutrients.append(fnuts)

nutrients = pd.concat(nutrients, ignore_index=True) #concat함수를 이용해 기존의 nutrients에 id column을 새로 생성하여 붙임.

In [82]:
nutrients

,description,group,units,value,id
0,Protein,Composition,g,25.180,1008
1,Total lipid (fat),Composition,g,29.200,1008
2,"Carbohydrate, by difference",Composition,g,3.060,1008
3,Ash,Other,g,3.280,1008
4,Energy,Energy,kcal,376.000,1008
5,Water,Composition,g,39.280,1008
6,Energy,Energy,kJ,1573.000,1008
7,"Fiber, total dietary",Composition,g,0.000,1008
8,"Calcium, Ca",Elements,mg,673.000,1008
9,"Iron, Fe",Elements,mg,0.640,1008
10,"Magnesium, Mg",Elements,mg,22.000,1008
11,"Phosphorus, P",Elements,mg,490.000,1008
12,"Potassium, K",Elements,mg,93.000,1008
13,"Sodium, Na",Elements,mg,690.000,1008
14,"Zinc, Zn",Elements,mg,2.940,1008
15,"Copper, Cu",Elements,mg,0.024,1008
16,"Manganese, Mn",Elements,mg,0.021,1008
17,"Selenium, Se",Elements,mcg,14.500,1008
18,"Vitamin A, IU",Vitamins,IU,1054.000,1008
19,Retinol,Vitamins,mcg,262.000,1008
20,"Vitamin A, RAE",Vitamins,mcg_RAE,271.000,1008
21,"Vitamin C, total ascorbic acid",Vitamins,mg,0.000,1008
22,Thiamin,Vitamins,mg,0.031,1008
23,Riboflavin,Vitamins,mg,0.450,1008
24,Niacin,Vitamins,mg,0.180,1008
25,Pantothenic acid,Vitamins,mg,0.190,1008
26,Vitamin B-6,Vitamins,mg,0.074,1008
27,"Folate, total",Vitamins,mcg,18.000,1008
28,Vitamin B-12,Vitamins,mcg,0.270,1008
29,Folic acid,Vitamins,mcg,0.000,1008
30,"Folate, food",Vitamins,mcg,18.000,1008
31,"Folate, DFE",Vitamins,mcg_DFE,18.000,1008
32,Cholesterol,Other,mg,93.000,1008
33,"Fatty acids, total saturated",Other,g,18.584,1008
34,"Fatty acids, total monounsaturated",Other,g,8.275,1008
35,"Fatty acids, total polyunsaturated",Other,g,0.830,1008
36,Tryptophan,Amino Acids,g,0.324,1008
37,Threonine,Amino Acids,g,0.896,1008
38,Isoleucine,Amino Acids,g,1.563,1008
39,Leucine,Amino Acids,g,2.412,1008
40,Lysine,Amino Acids,g,2.095,1008
41,Methionine,Amino Acids,g,0.659,1008
42,Cystine,Amino Acids,g,0.126,1008
43,Phenylalanine,Amino Acids,g,1.326,1008
44,Tyrosine,Amino Acids,g,1.216,1008
45,Valine,Amino Acids,g,1.682,1008
46,Arginine,Amino Acids,g,0.952,1008
47,Histidine,Amino Acids,g,0.884,1008
48,Alanine,Amino Acids,g,0.711,1008
49,Aspartic acid,Amino Acids,g,1.618,1008
...,...,...,...,...,...
389305,Protein,Composition,g,1.000,43546
389306,Total lipid (fat),Composition,g,0.200,43546
389307,"Carbohydrate, by difference",Composition,g,21.340,43546
389308,Ash,Other,g,0.760,43546
389309,Energy,Energy,kcal,91.000,43546
389310,"Alcohol, ethyl",Other,g,0.000,43546
389311,Water,Composition,g,76.700,43546
389312,Caffeine,Other,mg,0.000,43546
389313,Theobromine,Other,mg,0.000,43546
389314,Energy,Energy,kJ,381.000,43546
389315,"Sugars, total",Composition,g,11.360,43546
389316,"Fiber, total dietary",Composition,g,1.600,43546
389317,"Calcium, Ca",Elements,mg,4.000,43546
389318,"Iron, Fe",Elements,mg,0.300,43546
389319,"Magnesium, Mg",Elements,mg,26.000,43546
389320,"Phosphorus, P",Elements,mg,20.000,43546
389321,"Potassium, K",Elements,mg,290.000,43546
389322,"Sodium, Na",Elements,mg,2.000,43546
389323,"Zinc, Zn",Elements,mg,0.050,43546
389324,"Copper, Cu",Elements,mg,0.040,43546
389325,"Selenium, Se",Elements,mcg,1.100,43546
389326,"Vitamin A, IU",Vitamins,IU,5.000,43546
389327,Retinol,Vitamins,mcg,0.000,43546
389328,"Vitamin A, RAE",Vitamins,mcg_RAE,0.000,43546
389329,"Carotene, beta",Vitamins,mcg,2.000,43546
389330,"Carotene, alpha",Vitamins,mcg,2.000,43546
389331,Vitamin E (alpha-tocopherol),Vitamins,mg,0.250,43546
389332,Vitamin D,Vitamins,IU,0.000,43546
389333,Vitamin D (D2 + D3),Vitamins,mcg,0.000,43546
389334,"Cryptoxanthin, beta",Vitamins,mcg,0.000,43546
389335,Lycopene,Vitamins,mcg,0.000,43546
389336,Lutein + zeaxanthin,Vitamins,mcg,20.000,43546
389337,"Vitamin C, total ascorbic acid",Vitamins,mg,21.900,43546
389338,Thiamin,Vitamins,mg,0.020,43546
389339,Riboflavin,Vitamins,mg,0.060,43546
389340,Niacin,Vitamins,mg,0.540,43546
389341,Vitamin B-6,Vitamins,mg,0.260,43546
389342,"Folate, total",Vitamins,mcg,17.000,43546
389343,Vitamin B-12,Vitamins,mcg,0.000,43546
389344,"Choline, total",Vitamins,mg,4.100,43546
389345,Vitamin K (phylloquinone),Vitamins,mcg,0.500,43546
389346,Folic acid,Vitamins,mcg,0.000,43546
389347,"Folate, food",Vitamins,mcg,17.000,43546
389348,"Folate, DFE",Vitamins,mcg_DFE,17.000,43546
389349,"Vitamin E, added",Vitamins,mg,0.000,43546
389350,"Vitamin B-12, added",Vitamins,mcg,0.000,43546
389351,Cholesterol,Other,mg,0.000,43546
389352,"Fatty acids, total saturated",Other,g,0.072,43546
389353,"Fatty acids, total monounsaturated",Other,g,0.028,43546
389354,"Fatty acids, total polyunsaturated",Other,g,0.041,43546

In [83]:
nutrients.duplicated().sum() #중복된 값 더함

14179

In [84]:
nutrients = nutrients.drop_duplicates() #중복된 값을 제거

In [85]:
col_mapping = {'description' : 'food',
               'group'       : 'fgroup'}
info = info.rename(columns=col_mapping, copy=False) #col_mapping에서 새로 정한 이름으로 info를 rename
info

,food,fgroup,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,
5,"Cheese, mozzarella, part skim milk, low moisture",Dairy and Egg Products,1029,
6,"Cheese, romano",Dairy and Egg Products,1038,
7,"Cheese, roquefort",Dairy and Egg Products,1039,
8,"Cheese spread, pasteurized process, american, ...",Dairy and Egg Products,1048,
9,"Cream, fluid, half and half",Dairy and Egg Products,1049,
10,"Sour dressing, non-butterfat, cultured, filled...",Dairy and Egg Products,1058,
11,"Milk, filled, fluid, with blend of hydrogenate...",Dairy and Egg Products,1059,
12,"Cream substitute, liquid, with lauric acid oil...",Dairy and Egg Products,1068,
13,"Cream substitute, powdered",Dairy and Egg Products,1069,
14,"Milk, producer, fluid, 3.7% milkfat",Dairy and Egg Products,1078,
15,"Milk, reduced fat, fluid, 2% milkfat, with add...",Dairy and Egg Products,1079,None
16,"Milk, reduced fat, fluid, 2% milkfat, with add...",Dairy and Egg Products,1080,
17,"Milk, reduced fat, fluid, 2% milkfat, protein ...",Dairy and Egg Products,1081,
18,"Milk, lowfat, fluid, 1% milkfat, with added vi...",Dairy and Egg Products,1082,
19,"Milk, lowfat, fluid, 1% milkfat, with added no...",Dairy and Egg Products,1083,
20,"Milk, lowfat, fluid, 1% milkfat, protein forti...",Dairy and Egg Products,1084,
21,"Milk, nonfat, fluid, with added vitamin A and ...",Dairy and Egg Products,1085,
22,"Milk, nonfat, fluid, with added nonfat milk so...",Dairy and Egg Products,1086,
23,"Milk, nonfat, fluid, protein fortified, with a...",Dairy and Egg Products,1087,
24,"Milk, buttermilk, fluid, cultured, lowfat",Dairy and Egg Products,1088,
25,"Milk, low sodium, fluid",Dairy and Egg Products,1089,
26,"Milk, dry, whole, with added vitamin D",Dairy and Egg Products,1090,
27,"Milk, dry, nonfat, regular, without added vita...",Dairy and Egg Products,1091,
28,"Milk, dry, nonfat, instant, with added vitamin...",Dairy and Egg Products,1092,
29,"Milk, dry, nonfat, calcium reduced",Dairy and Egg Products,1093,
30,"Milk, buttermilk, dried",Dairy and Egg Products,1094,
31,"Milk, canned, condensed, sweetened",Dairy and Egg Products,1095,
32,"Milk, canned, evaporated, with added vitamin D...",Dairy and Egg Products,1096,
33,"Milk, canned, evaporated, nonfat, with added v...",Dairy and Egg Products,1097,
34,"Milk, indian buffalo, fluid",Dairy and Egg Products,1108,
35,"Milk, sheep, fluid",Dairy and Egg Products,1109,
36,"Yogurt, plain, skim milk, 13 grams protein per...",Dairy and Egg Products,1118,
37,"Yogurt, vanilla, low fat, 11 grams protein per...",Dairy and Egg Products,1119,
38,"Egg, whole, cooked, fried",Dairy and Egg Products,1128,
39,"Egg, whole, cooked, hard-boiled",Dairy and Egg Products,1129,
40,"Egg, duck, whole, fresh, raw",Dairy and Egg Products,1138,
41,"Egg, goose, whole, fresh, raw",Dairy and Egg Products,1139,
42,"Cheese, pasteurized process, swiss, without di...",Dairy and Egg Products,1148,
43,"Cheese food, pasteurized process, american, wi...",Dairy and Egg Products,1149,
44,"Cheese, goat, soft type",Dairy and Egg Products,1159,
45,"Cheese, low fat, cheddar or colby",Dairy and Egg Products,1168,
46,"Cheese, low-sodium, cheddar or colby",Dairy and Egg Products,1169,
47,"Sour cream, reduced fat",Dairy and Egg Products,1178,None
48,"Sour cream, light",Dairy and Egg Products,1179,None
49,"Sour cream, fat free",Dairy and Egg Products,1180,None
...,...,...,...,...
6586,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23587,
6587,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23588,
6588,"Beef, short loin, top loin, steak, separable l...",Beef Products,23589,
6589,"Beef, round, bottom round , roast, separable l...",Beef Products,23590,
6590,"Beef, round, eye of round, roast, separable le...",Beef Products,23591,
6591,"Beef, round, top round, steak, separable lean ...",Beef Products,23592,
6592,"Beef, round, bottom round, steak, separable le...",Beef Products,23593,
6593,"Beef, short loin, top loin, steak, separable l...",Beef Products,23606,
6594,"Beef, brisket, flat half, separable lean only,...",Beef Products,23613,
6595,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23614,
6596,"Beef, brisket, flat half, separable lean only,...",Beef Products,23615,
6597,"Beef, round, eye of round, roast, separable le...",Beef Products,23616,
6598,"Beef, round, top round, steak, separable lean ...",Beef Products,23617,
6599,"Beef, round, eye of round, roast, separable le...",Beef Products,23620,
6600,"Beef, round, top round, steak, separable lean ...",Beef Products,23621,
6601,"Beef, round, bottom round, steak, separable le...",Beef Products,23622,
6602,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23624,
6603,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23625,
6604,"Beef, rib, small end (ribs 10-12), separable l...",Beef Products,23626,
6605,"Beef, short loin, top loin, steak, separable l...",Beef Products,23627,
6606,"Beef, tenderloin, steak, separable lean only, ...",Beef Products,23628,
6607,"Beef, top sirloin, steak, separable lean only,...",Beef Products,23629,
6608,"Beef, short loin, top loin, steak, separable l...",Beef Products,23630,
6609,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23631,
6610,"Beef, brisket, flat half, separable lean only,...",Beef Products,23632,
6611,"Beef, chuck, arm pot roast, separable lean onl...",Beef Products,23633,
6612,"Beef, brisket, flat half, separable lean only,...",Beef Products,23634,
6613,"Beef, round, eye of round, roast, separable le...",Beef Products,23635,
6614,"Beef, round, top round, steak, separable lean ...",Beef Products,23636,
6615,"Beef, round, bottom round, roast, separable le...",Beef Products,23637,
6616,"Beef, rib, small end (ribs 10-12), separable l...",Beef Products,23638,
6617,"CAMPBELL Soup Company, CAMPBELL'S Red and Whit...","Soups, Sauces, and Gravies",27015,Campbell Soup Co.
6618,"CAMPBELL Soup Company, CAMPBELL's Red and Whit...","Soups, Sauces, and Gravies",27016,Campbell Soup Co.
6619,"CAMPBELL Soup Company, CAMPBELL'S SELECT Soups...","Soups, Sauces, and Gravies",27021,Campbell Soup Co.
6620,"CAMPBELL Soup Company, CAMPBELL'S SOUP AT HAND...","Soups, Sauces, and Gravies",27022,Campbell Soup Co.
6621,"CAMPBELL Soup Company, CAMPBELL'S SOUP AT HAND...","Soups, Sauces, and Gravies",27023,Campbell Soup Co.
6622,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27024,Campbell Soup Co.
6623,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27025,Campbell Soup Co.
6624,"CAMPBELL Soup Company, CAMPBELL'S SELECT Gold ...","Soups, Sauces, and Gravies",27026,Campbell Soup Co.
6625,"CAMPBELL Soup Company, CAMPBELL'S Red and Whit...","Soups, Sauces, and Gravies",27032,Campbell Soup Co.
6626,"CAMPBELL Soup Company, V8 Vegetable Juice, Ess...",Vegetables and Vegetable Products,31010,Campbell Soup Co.
6627,"CAMPBELL Soup Company, V8 Vegetable Juice, Spi...",Vegetables and Vegetable Products,31013,Campbell Soup Co.
6628,"CAMPBELL Soup Company, PACE, Jalapenos Nacho S...",Vegetables and Vegetable Products,31014,Campbell Soup Co.
6629,"CAMPBELL Soup Company, V8 60% Vegetable Juice,...",Vegetables and Vegetable Products,31016,Campbell Soup Co.
6630,"CAMPBELL Soup Company, V8 Vegetable Juice, Low...",Vegetables and Vegetable Products,31017,Campbell Soup Co.
6631,"Bologna, beef, low fat",Sausages and Luncheon Meats,42161,
6632,"Turkey and pork sausage, fresh, bulk, patty or...",Sausages and Luncheon Meats,42173,
6633,"Babyfood, juice, pear",Baby Foods,43408,None
6634,"Babyfood, dessert, banana yogurt, strained",Baby Foods,43539,None
6635,"Babyfood, banana no tapioca, strained",Baby Foods,43546,None

### 실습예제13
위의 col_mapping의 'id'컬럼을 'food_id'로 변경하여라.

In [86]:
col_mapping = {'description' : 'nutrient',
               'group' : 'nutgroup'}
nutrients = nutrients.rename(columns=col_mapping, copy=False)
nutrients

,nutrient,nutgroup,units,value,id
0,Protein,Composition,g,25.180,1008
1,Total lipid (fat),Composition,g,29.200,1008
2,"Carbohydrate, by difference",Composition,g,3.060,1008
3,Ash,Other,g,3.280,1008
4,Energy,Energy,kcal,376.000,1008
5,Water,Composition,g,39.280,1008
6,Energy,Energy,kJ,1573.000,1008
7,"Fiber, total dietary",Composition,g,0.000,1008
8,"Calcium, Ca",Elements,mg,673.000,1008
9,"Iron, Fe",Elements,mg,0.640,1008
10,"Magnesium, Mg",Elements,mg,22.000,1008
11,"Phosphorus, P",Elements,mg,490.000,1008
12,"Potassium, K",Elements,mg,93.000,1008
13,"Sodium, Na",Elements,mg,690.000,1008
14,"Zinc, Zn",Elements,mg,2.940,1008
15,"Copper, Cu",Elements,mg,0.024,1008
16,"Manganese, Mn",Elements,mg,0.021,1008
17,"Selenium, Se",Elements,mcg,14.500,1008
18,"Vitamin A, IU",Vitamins,IU,1054.000,1008
19,Retinol,Vitamins,mcg,262.000,1008
20,"Vitamin A, RAE",Vitamins,mcg_RAE,271.000,1008
21,"Vitamin C, total ascorbic acid",Vitamins,mg,0.000,1008
22,Thiamin,Vitamins,mg,0.031,1008
23,Riboflavin,Vitamins,mg,0.450,1008
24,Niacin,Vitamins,mg,0.180,1008
25,Pantothenic acid,Vitamins,mg,0.190,1008
26,Vitamin B-6,Vitamins,mg,0.074,1008
27,"Folate, total",Vitamins,mcg,18.000,1008
28,Vitamin B-12,Vitamins,mcg,0.270,1008
29,Folic acid,Vitamins,mcg,0.000,1008
30,"Folate, food",Vitamins,mcg,18.000,1008
31,"Folate, DFE",Vitamins,mcg_DFE,18.000,1008
32,Cholesterol,Other,mg,93.000,1008
33,"Fatty acids, total saturated",Other,g,18.584,1008
34,"Fatty acids, total monounsaturated",Other,g,8.275,1008
35,"Fatty acids, total polyunsaturated",Other,g,0.830,1008
36,Tryptophan,Amino Acids,g,0.324,1008
37,Threonine,Amino Acids,g,0.896,1008
38,Isoleucine,Amino Acids,g,1.563,1008
39,Leucine,Amino Acids,g,2.412,1008
40,Lysine,Amino Acids,g,2.095,1008
41,Methionine,Amino Acids,g,0.659,1008
42,Cystine,Amino Acids,g,0.126,1008
43,Phenylalanine,Amino Acids,g,1.326,1008
44,Tyrosine,Amino Acids,g,1.216,1008
45,Valine,Amino Acids,g,1.682,1008
46,Arginine,Amino Acids,g,0.952,1008
47,Histidine,Amino Acids,g,0.884,1008
48,Alanine,Amino Acids,g,0.711,1008
49,Aspartic acid,Amino Acids,g,1.618,1008
...,...,...,...,...,...
389305,Protein,Composition,g,1.000,43546
389306,Total lipid (fat),Composition,g,0.200,43546
389307,"Carbohydrate, by difference",Composition,g,21.340,43546
389308,Ash,Other,g,0.760,43546
389309,Energy,Energy,kcal,91.000,43546
389310,"Alcohol, ethyl",Other,g,0.000,43546
389311,Water,Composition,g,76.700,43546
389312,Caffeine,Other,mg,0.000,43546
389313,Theobromine,Other,mg,0.000,43546
389314,Energy,Energy,kJ,381.000,43546
389315,"Sugars, total",Composition,g,11.360,43546
389316,"Fiber, total dietary",Composition,g,1.600,43546
389317,"Calcium, Ca",Elements,mg,4.000,43546
389318,"Iron, Fe",Elements,mg,0.300,43546
389319,"Magnesium, Mg",Elements,mg,26.000,43546
389320,"Phosphorus, P",Elements,mg,20.000,43546
389321,"Potassium, K",Elements,mg,290.000,43546
389322,"Sodium, Na",Elements,mg,2.000,43546
389323,"Zinc, Zn",Elements,mg,0.050,43546
389324,"Copper, Cu",Elements,mg,0.040,43546
389325,"Selenium, Se",Elements,mcg,1.100,43546
389326,"Vitamin A, IU",Vitamins,IU,5.000,43546
389327,Retinol,Vitamins,mcg,0.000,43546
389328,"Vitamin A, RAE",Vitamins,mcg_RAE,0.000,43546
389329,"Carotene, beta",Vitamins,mcg,2.000,43546
389330,"Carotene, alpha",Vitamins,mcg,2.000,43546
389331,Vitamin E (alpha-tocopherol),Vitamins,mg,0.250,43546
389332,Vitamin D,Vitamins,IU,0.000,43546
389333,Vitamin D (D2 + D3),Vitamins,mcg,0.000,43546
389334,"Cryptoxanthin, beta",Vitamins,mcg,0.000,43546
389335,Lycopene,Vitamins,mcg,0.000,43546
389336,Lutein + zeaxanthin,Vitamins,mcg,20.000,43546
389337,"Vitamin C, total ascorbic acid",Vitamins,mg,21.900,43546
389338,Thiamin,Vitamins,mg,0.020,43546
389339,Riboflavin,Vitamins,mg,0.060,43546
389340,Niacin,Vitamins,mg,0.540,43546
389341,Vitamin B-6,Vitamins,mg,0.260,43546
389342,"Folate, total",Vitamins,mcg,17.000,43546
389343,Vitamin B-12,Vitamins,mcg,0.000,43546
389344,"Choline, total",Vitamins,mg,4.100,43546
389345,Vitamin K (phylloquinone),Vitamins,mcg,0.500,43546
389346,Folic acid,Vitamins,mcg,0.000,43546
389347,"Folate, food",Vitamins,mcg,17.000,43546
389348,"Folate, DFE",Vitamins,mcg_DFE,17.000,43546
389349,"Vitamin E, added",Vitamins,mg,0.000,43546
389350,"Vitamin B-12, added",Vitamins,mcg,0.000,43546
389351,Cholesterol,Other,mg,0.000,43546
389352,"Fatty acids, total saturated",Other,g,0.072,43546
389353,"Fatty acids, total monounsaturated",Other,g,0.028,43546
389354,"Fatty acids, total polyunsaturated",Other,g,0.041,43546

In [87]:
ndata = pd.merge(nutrients, info, on='id', how='outer') #id를 키로 해서 외부조인

In [88]:
ndata

,nutrient,nutgroup,units,value,id,food,fgroup,manufacturer
0,Protein,Composition,g,25.180,1008,"Cheese, caraway",Dairy and Egg Products,
1,Total lipid (fat),Composition,g,29.200,1008,"Cheese, caraway",Dairy and Egg Products,
2,"Carbohydrate, by difference",Composition,g,3.060,1008,"Cheese, caraway",Dairy and Egg Products,
3,Ash,Other,g,3.280,1008,"Cheese, caraway",Dairy and Egg Products,
4,Energy,Energy,kcal,376.000,1008,"Cheese, caraway",Dairy and Egg Products,
5,Water,Composition,g,39.280,1008,"Cheese, caraway",Dairy and Egg Products,
6,Energy,Energy,kJ,1573.000,1008,"Cheese, caraway",Dairy and Egg Products,
7,"Fiber, total dietary",Composition,g,0.000,1008,"Cheese, caraway",Dairy and Egg Products,
8,"Calcium, Ca",Elements,mg,673.000,1008,"Cheese, caraway",Dairy and Egg Products,
9,"Iron, Fe",Elements,mg,0.640,1008,"Cheese, caraway",Dairy and Egg Products,
10,"Magnesium, Mg",Elements,mg,22.000,1008,"Cheese, caraway",Dairy and Egg Products,
11,"Phosphorus, P",Elements,mg,490.000,1008,"Cheese, caraway",Dairy and Egg Products,
12,"Potassium, K",Elements,mg,93.000,1008,"Cheese, caraway",Dairy and Egg Products,
13,"Sodium, Na",Elements,mg,690.000,1008,"Cheese, caraway",Dairy and Egg Products,
14,"Zinc, Zn",Elements,mg,2.940,1008,"Cheese, caraway",Dairy and Egg Products,
15,"Copper, Cu",Elements,mg,0.024,1008,"Cheese, caraway",Dairy and Egg Products,
16,"Manganese, Mn",Elements,mg,0.021,1008,"Cheese, caraway",Dairy and Egg Products,
17,"Selenium, Se",Elements,mcg,14.500,1008,"Cheese, caraway",Dairy and Egg Products,
18,"Vitamin A, IU",Vitamins,IU,1054.000,1008,"Cheese, caraway",Dairy and Egg Products,
19,Retinol,Vitamins,mcg,262.000,1008,"Cheese, caraway",Dairy and Egg Products,
20,"Vitamin A, RAE",Vitamins,mcg_RAE,271.000,1008,"Cheese, caraway",Dairy and Egg Products,
21,"Vitamin C, total ascorbic acid",Vitamins,mg,0.000,1008,"Cheese, caraway",Dairy and Egg Products,
22,Thiamin,Vitamins,mg,0.031,1008,"Cheese, caraway",Dairy and Egg Products,
23,Riboflavin,Vitamins,mg,0.450,1008,"Cheese, caraway",Dairy and Egg Products,
24,Niacin,Vitamins,mg,0.180,1008,"Cheese, caraway",Dairy and Egg Products,
25,Pantothenic acid,Vitamins,mg,0.190,1008,"Cheese, caraway",Dairy and Egg Products,
26,Vitamin B-6,Vitamins,mg,0.074,1008,"Cheese, caraway",Dairy and Egg Products,
27,"Folate, total",Vitamins,mcg,18.000,1008,"Cheese, caraway",Dairy and Egg Products,
28,Vitamin B-12,Vitamins,mcg,0.270,1008,"Cheese, caraway",Dairy and Egg Products,
29,Folic acid,Vitamins,mcg,0.000,1008,"Cheese, caraway",Dairy and Egg Products,
30,"Folate, food",Vitamins,mcg,18.000,1008,"Cheese, caraway",Dairy and Egg Products,
31,"Folate, DFE",Vitamins,mcg_DFE,18.000,1008,"Cheese, caraway",Dairy and Egg Products,
32,Cholesterol,Other,mg,93.000,1008,"Cheese, caraway",Dairy and Egg Products,
33,"Fatty acids, total saturated",Other,g,18.584,1008,"Cheese, caraway",Dairy and Egg Products,
34,"Fatty acids, total monounsaturated",Other,g,8.275,1008,"Cheese, caraway",Dairy and Egg Products,
35,"Fatty acids, total polyunsaturated",Other,g,0.830,1008,"Cheese, caraway",Dairy and Egg Products,
36,Tryptophan,Amino Acids,g,0.324,1008,"Cheese, caraway",Dairy and Egg Products,
37,Threonine,Amino Acids,g,0.896,1008,"Cheese, caraway",Dairy and Egg Products,
38,Isoleucine,Amino Acids,g,1.563,1008,"Cheese, caraway",Dairy and Egg Products,
39,Leucine,Amino Acids,g,2.412,1008,"Cheese, caraway",Dairy and Egg Products,
40,Lysine,Amino Acids,g,2.095,1008,"Cheese, caraway",Dairy and Egg Products,
41,Methionine,Amino Acids,g,0.659,1008,"Cheese, caraway",Dairy and Egg Products,
42,Cystine,Amino Acids,g,0.126,1008,"Cheese, caraway",Dairy and Egg Products,
43,Phenylalanine,Amino Acids,g,1.326,1008,"Cheese, caraway",Dairy and Egg Products,
44,Tyrosine,Amino Acids,g,1.216,1008,"Cheese, caraway",Dairy and Egg Products,
45,Valine,Amino Acids,g,1.682,1008,"Cheese, caraway",Dairy and Egg Products,
46,Arginine,Amino Acids,g,0.952,1008,"Cheese, caraway",Dairy and Egg Products,
47,Histidine,Amino Acids,g,0.884,1008,"Cheese, caraway",Dairy and Egg Products,
48,Alanine,Amino Acids,g,0.711,1008,"Cheese, caraway",Dairy and Egg Products,
49,Aspartic acid,Amino Acids,g,1.618,1008,"Cheese, caraway",Dairy and Egg Products,
...,...,...,...,...,...,...,...,...
375126,Protein,Composition,g,1.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375127,Total lipid (fat),Composition,g,0.200,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375128,"Carbohydrate, by difference",Composition,g,21.340,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375129,Ash,Other,g,0.760,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375130,Energy,Energy,kcal,91.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375131,"Alcohol, ethyl",Other,g,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375132,Water,Composition,g,76.700,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375133,Caffeine,Other,mg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375134,Theobromine,Other,mg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375135,Energy,Energy,kJ,381.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375136,"Sugars, total",Composition,g,11.360,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375137,"Fiber, total dietary",Composition,g,1.600,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375138,"Calcium, Ca",Elements,mg,4.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375139,"Iron, Fe",Elements,mg,0.300,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375140,"Magnesium, Mg",Elements,mg,26.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375141,"Phosphorus, P",Elements,mg,20.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375142,"Potassium, K",Elements,mg,290.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375143,"Sodium, Na",Elements,mg,2.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375144,"Zinc, Zn",Elements,mg,0.050,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375145,"Copper, Cu",Elements,mg,0.040,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375146,"Selenium, Se",Elements,mcg,1.100,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375147,"Vitamin A, IU",Vitamins,IU,5.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375148,Retinol,Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375149,"Vitamin A, RAE",Vitamins,mcg_RAE,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375150,"Carotene, beta",Vitamins,mcg,2.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375151,"Carotene, alpha",Vitamins,mcg,2.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375152,Vitamin E (alpha-tocopherol),Vitamins,mg,0.250,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375153,Vitamin D,Vitamins,IU,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375154,Vitamin D (D2 + D3),Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375155,"Cryptoxanthin, beta",Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375156,Lycopene,Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375157,Lutein + zeaxanthin,Vitamins,mcg,20.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375158,"Vitamin C, total ascorbic acid",Vitamins,mg,21.900,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375159,Thiamin,Vitamins,mg,0.020,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375160,Riboflavin,Vitamins,mg,0.060,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375161,Niacin,Vitamins,mg,0.540,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375162,Vitamin B-6,Vitamins,mg,0.260,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375163,"Folate, total",Vitamins,mcg,17.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375164,Vitamin B-12,Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375165,"Choline, total",Vitamins,mg,4.100,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375166,Vitamin K (phylloquinone),Vitamins,mcg,0.500,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375167,Folic acid,Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375168,"Folate, food",Vitamins,mcg,17.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375169,"Folate, DFE",Vitamins,mcg_DFE,17.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375170,"Vitamin E, added",Vitamins,mg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375171,"Vitamin B-12, added",Vitamins,mcg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375172,Cholesterol,Other,mg,0.000,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375173,"Fatty acids, total saturated",Other,g,0.072,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375174,"Fatty acids, total monounsaturated",Other,g,0.028,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None
375175,"Fatty acids, total polyunsaturated",Other,g,0.041,43546,"Babyfood, banana no tapioca, strained",Baby Foods,None

### 실습예제 14
nutrients와 info를 innerjoin한 ndata2를 생성하여라.

In [89]:
ndata.ix[30000] #x번째 행을 나타내는 ix[x]

nutrient                                       Glycine
nutgroup                                   Amino Acids
units                                                g
value                                             0.04
id                                                6158
food            Soup, tomato bisque, canned, condensed
fgroup                      Soups, Sauces, and Gravies
manufacturer
Name: 30000, dtype: object

In [90]:
by_nutrient = ndata.groupby(['nutgroup', 'nutrient']) #groupby()함수를 사용하여 nutgroup에 따른 nutrient로 group화한다.

get_maximum = lambda x: x.xs(x.value.idxmax()) #람다함수는 함수를 지정(직접 만드는 방식), 
                                               #이 함수는 value가 가장 높은 수의 인덱스를 찾아줌 -> idxmax()함수
get_minimum = lambda x: x.xs(x.value.idxmin()) # -> 반대로 가장 낮은 수의 인덱스를 찾아줌 -> idxmin() 함수

max_foods = by_nutrient.apply(get_maximum)[['value', 'food']] #apply (lambda함수) 문법을 이용해 만든 람다 함수를 실행

max_foods.food = max_foods.food.str[:50]

In [91]:
max_foods.ix['Amino Acids']['food']

nutrient
Alanine                           Gelatins, dry powder, unsweetened
Arginine                               Seeds, sesame flour, low-fat
Aspartic acid                                   Soy protein isolate
Cystine                Seeds, cottonseed flour, low fat (glandless)
Glutamic acid                                   Soy protein isolate
Glycine                           Gelatins, dry powder, unsweetened
Histidine                Whale, beluga, meat, dried (Alaska Native)
Hydroxyproline    KENTUCKY FRIED CHICKEN, Fried Chicken, ORIGINA...
Isoleucine        Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Leucine           Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Lysine            Seal, bearded (Oogruk), meat, dried (Alaska Na...
Methionine                    Fish, cod, Atlantic, dried and salted
Phenylalanine     Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Proline                           Gelatins, dry powder, unsweetened
Serine            Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Threonine         Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Tryptophan         Sea lion, Steller, meat with fat (Alaska Native)
Tyrosine          Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Valine            Soy protein isolate, PROTEIN TECHNOLOGIES INTE...
Name: food, dtype: object